<div class="container pb-30">
  <footer class="st-site-footer">
    <div class="row align-items-center justify-content-sm-between justify-content-center py-10">
      <div class="col-sm-auto">
        <div class="font-size-12 line-height-1 letter-spacing-n10 text-center text-sm-left">Тестовое задание на вакансию верстальщика в компанию <a class="st-text-base" href="#">Aweb</a></div>
      </div>
      <div class="col-sm-auto pt-sm-0 pt-15">
        <div class="st-social st-social_dark justify-content-sm-start justify-content-center">
          <a class="st-social__fb" href="#"></a>
          <a class="st-social__gplus" href="#"></a>
          <a class="st-social__in" href="#"></a>
        </div>
      </div>
    </div>
  </footer>
</div>