<header class="st-site-header">
  <div class="container">
    <div class="row align-items-center justify-content-lg-between">
      <div class="col-lg-auto">
        <div class="row align-items-center">
          <div class="col-md text-lg-left text-center">
            <img src="img/logo.png" alt="">
          </div>
          <div class="col-md">
            <div class="font-size-lg-16 font-size-14 line-height-1-25 text-center pt-md-5 pt-15">Сеть турагенств <br>«Солнце в кругу»</div>
          </div>
        </div>
      </div>
      <div class="col-lg-auto pt-lg-0 pt-15">
        <div class="row align-items-center justify-content-center flex-sm-row flex-column">
          <div class="col-auto py-5 py-sm-0">
            <a class="d-block font-size-xl-30 font-size-lg-26 font-size-20 line-height-1 text-white" href="tel:044 123-45-67">044 123-45-67</a>
          </div>
          <div class="col-auto py-5 py-sm-0">
            <a class="st-site-header__call-back font-size-lg-16 font-size-14 line-height-1-25 mr-xl-55 mr-lg-30 ml-lg-15" href="#">обратный звонок</a>
          </div>
          <div class="col-auto pt-10 pt-sm-0">
            <div class="st-social">
              <a class="st-social__fb" href="#"></a>
              <a class="st-social__gplus" href="#"></a>
              <a class="st-social__in" href="#"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>