<div class="st-hot-tour pb-35">
  <div class="container">
    <div class="st-hot-tour__panorama bg-norepeat bg-position-center bg-cover" style="background-image:url(img/1123x675_1.jpg);">
      <div class="st-hot-tour__stick font-family-trebuchet-ms">
        <div class="font-size-md-25 font-size-20 font-weight-700 line-height-1-2">Тур <br>в Созополь, Болгария</div>

        <div class="text-uppercase font-size-14 font-weight-700 line-height-1 mt-20">Код тура</div>

        <div class="st-hot-tour__stick-code font-size-md-24 font-size-18 font-weight-700 mt-5 line-height-1-25 px-5">3094119</div>
      </div>
    </div>

    <div class="row pt-25">
      <div class="col-xl-9 col-lg-8 col-md-9">
        <div class="row align-items-center">
          <div class="col-sm-auto col-12 text-sm-left text-center">
            <a href="#" class="st-hot-tour__link font-size-lg-35 font-size-28 font-weight-700 line-height-1-2 font-family-trebuchet-ms">Aquamarine hotel</a>
          </div>
          <div class="col-sm-auto col-6 pt-sm-0 pt-15 text-sm-left text-center">
            <div class="st-hot-tour__rating justify-content-center justify-content-sm-start">
              <div class="st-hot-tour__rating-star"></div>
              <div class="st-hot-tour__rating-star"></div>
              <div class="st-hot-tour__rating-star"></div>
            </div>
          </div>
          <div class="col-sm-auto col-6 pt-sm-0 pt-15 text-sm-left text-center">
            <div class="font-size-lg-35 font-size-28 font-weight-700 line-height-1-2 font-family-trebuchet-ms">$256</div>
          </div>
        </div>

        <div class="row align-items-center pt-sm-25 pt-10">
          <div class="col-sm-auto col-6 pt-sm-0 pt-15 text-sm-left text-center">
            <div class="font-size-14 font-weight-700 line-height-1-25">Оценка отеля <div class="st-text-gray">45 отзывов</div></div>
          </div>
          <div class="col-sm-auto col-6 pt-sm-0 pt-15 text-sm-left text-center">
            <div class="st-hot-tour__rating-value ml-lg-15 mx-sm-0 mx-auto">8.4</div>
          </div>
          <div class="col-sm-auto col-6 pt-sm-0 pt-15 text-sm-left text-center">
            <div class="font-weight-700 line-height-1 ml-lg-10">
              <div class="font-size-12 st-text-gray text-uppercase letter-spacing-100">номер</div>
              <span class="font-size-18">8.9</span>
            </div>
          </div>
          <div class="col-sm-auto col-6 pt-sm-0 pt-15 text-sm-left text-center">
            <div class="font-weight-700 line-height-1">
              <div class="font-size-12 st-text-gray text-uppercase letter-spacing-100">питание</div>
              <span class="font-size-18">8.1</span>
            </div>
          </div>
          <div class="col-sm-auto col-6 pt-sm-0 pt-15 text-sm-left text-center">
            <div class="font-weight-700 line-height-1">
              <div class="font-size-12 st-text-gray text-uppercase letter-spacing-100">сервис</div>
              <span class="font-size-18">7.9</span>
            </div>
          </div>
          <div class="col-sm-auto col-6 pt-sm-0 pt-15 text-sm-left text-center">
            <div class="font-weight-700 line-height-1">
              <div class="font-size-12 st-text-gray text-uppercase letter-spacing-100">инфраструктура</div>
              <span class="font-size-18">8.9</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-3">
        <div class="st-hot-tour__info pl-xl-0 pl-lg-40 text-md-left text-center pt-md-0 pt-30">
          <div class="font-size-lg-100 font-size-72 line-height-1 font-family-trebuchet-ms st-text-gray">320</div>
          <div class="font-size-lg-30 font-size-26 line-height-1">солнечных <br>дней в году</div>
        </div>
      </div>
    </div>
  </div>
</div>