<div class="st-tour-item">
  <div class="st-tour-item__img bg-norepeat bg-position-center bg-cover"
       style="background-image:url(@@if(context.img){@@img});"></div>
  <div class="row align-items-start justify-content-between">
    <div class="col-sm-auto pt-20">
      <a href="#" class="st-tour-item__link font-size-lg-30 font-size-22 font-weight-700 line-height-1-2 font-family-trebuchet-ms">
        @@if(context.title){@@title}
      </a>
      <div class="font-size-14 line-height-1-25 st-text-gray letter-spacing-n10 pt-10">@@if(context.subTitle){@@subTitle}</div>
    </div>
    <div class="col-sm-auto text-sm-right">
      <div class="font-size-lg-50 font-size-30 line-height-1 font-weight-700 font-family-trebuchet-ms mt-5">@@if(context.price){@@price}</div>
      @@if(context.oldPrice){<div class="st-tour-item__old-price font-size-lg-20 font-size-18 line-height-1 st-text-gray font-family-trebuchet-ms">@@oldPrice</div>}
    </div>
  </div>
</div>