@import "variables";

@each $breakpoint in map-keys($grid-breakpoints) {
	@include media-breakpoint-up($breakpoint) {
		$infix: breakpoint-infix($breakpoint, $grid-breakpoints);

		@each $fs in $font-size {
			.font-size#{$infix}-#{$fs} {font-size: rem($fs)}
		}

	}
}

@for $i from 1 through 9 {
	.font-weight-#{$i * 100} {font-weight: $i * 100;}
}

.font-style {
	&-italic {
		font-style: italic;
	}
	&-normal {
		font-style: normal;
	}
}


.line-height-1 {
	line-height: 1;
}

.line-height-1-2 {
	line-height: 1.2;
}

.line-height-1-125 {
	line-height: 1.125;
}

.line-height-1-25 {
	line-height: 1.25;
}

.line-height-1-375 {
	line-height: 1.375;
}

.line-height-1-5 {
	line-height: 1.5;
}

.line-height-1-625 {
	line-height: 1.625;
}

.line-height-1-75 {
	line-height: 1.75;
}

.line-height-1-875 {
	line-height: 1.875;
}

.line-height-2 {
	line-height: 2;
}

@each $ls in $letter-spacing {
	.letter-spacing-#{$ls} {
		letter-spacing: ($ls / 1000) * 1em;
	}

	.letter-spacing-n#{$ls} {
		letter-spacing: ($ls / 1000) * -1em;
	}
}