@import "../scss/variables";

.st-site-header {
	min-height: 104px;
	padding: 29px 0;
	background-color: $st-base;
	color: #fff;

	@media (max-width: 991px) {
		padding: 15px 0;
		min-height: 1px;
	}

	&__call-back {
		color: #ffffff;
		position: relative;
		border-bottom: 1px dotted #fff;

		&:hover {
			color: #ffffff;
			text-decoration: none;
			border-bottom: 1px dotted transparent;
		}
	}
}