%fb-dark {
  background: url(../img/sprite.png) 0px 0px;
  width: 31px;
  height: 31px;
}
%fb {
  background: url(../img/sprite.png) -51px 0px;
  width: 31px;
  height: 31px;
}
%g-plus-dark {
  background: url(../img/sprite.png) 0px -51px;
  width: 31px;
  height: 31px;
}
%g-plus {
  background: url(../img/sprite.png) -51px -51px;
  width: 31px;
  height: 31px;
}
%inst-dark {
  background: url(../img/sprite.png) -102px 0px;
  width: 31px;
  height: 31px;
}
%inst {
  background: url(../img/sprite.png) -102px -51px;
  width: 31px;
  height: 31px;
}
%star {
  background: url(../img/sprite.png) 0px -102px;
  width: 30px;
  height: 28px;
}
