@import "mixins/functions";
@import "mixins/mixins";
@import "sprite";

$grid-breakpoints: (
				xs: 0,
				sm: 576px,
				md: 768px,
				lg: 992px,
				xl: 1200px
);

$default-font-family: Arial, sans-serif;
$add-font-family: 'Trebuchet MS';

$size-indent: (0, 5, 10, 15, 20, 25, 30, 35, 40, 50, 55, 220);

$letter-spacing: (5, 10, 20, 30, 50, 100, 200, 500);

$font-size: (12, 13, 14, 15, 16, 17, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 50, 72, 100);

// var color
$st-base: #00bff3;
$st-primary: #ffc20e;
$st-black: #000;
$st-gray: #777;
$st-yellow: #fff200;