//
// Variables
//
@import "variables";

// Font TrebuchetMS
@font-face {
	font-family: 'Trebuchet MS';
	src: url('../fonts/TrebuchetMS/TrebuchetMS.eot');
	src: url('../fonts/TrebuchetMS/TrebuchetMS.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/TrebuchetMS/TrebuchetMS.woff') format('woff'),
			 url('../fonts/TrebuchetMS/TrebuchetMS.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Trebuchet MS';
	src: url('../fonts/TrebuchetMS/TrebuchetMS-Italic.eot');
	src: url('../fonts/TrebuchetMS/TrebuchetMS-Italic.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/TrebuchetMS/TrebuchetMS-Italic.woff') format('woff'),
			 url('../fonts/TrebuchetMS/TrebuchetMS-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Trebuchet MS';
	src: url('../fonts/TrebuchetMS/TrebuchetMS-Bold.eot');
	src: url('../fonts/TrebuchetMS/TrebuchetMS-Bold.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/TrebuchetMS/TrebuchetMS-Bold.woff') format('woff'),
			 url('../fonts/TrebuchetMS/TrebuchetMS-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Trebuchet MS';
	src: url('../fonts/TrebuchetMS/TrebuchetMS-BoldItalic.eot');
	src: url('../fonts/TrebuchetMS/TrebuchetMS-BoldItalic.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/TrebuchetMS/TrebuchetMS-BoldItalic.woff') format('woff'),
			 url('../fonts/TrebuchetMS/TrebuchetMS-BoldItalic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
}


// MinionPro
@font-face {
	font-family: 'MinionPro';
	src: url('../fonts/MinionPro/MinionPro-Regular.eot');
	src: url('../fonts/MinionPro/MinionPro-Regular.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/MinionPro/MinionPro-Regular.woff') format('woff'),
			 url('../fonts/MinionPro/MinionPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MinionPro';
	src: url('../fonts/MinionPro/MinionPro-Bold.eot');
	src: url('../fonts/MinionPro/MinionPro-Bold.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/MinionPro/MinionPro-Bold.woff') format('woff'),
			 url('../fonts/MinionPro/MinionPro-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}


body {
	font-family: $default-font-family;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.125;
	color: #000;
	background: #fff;
	-webkit-font-smoothing: antialiased;
}

.font-family-trebuchet-ms {
	font-family: $add-font-family;
}
.font-family-minion-pro {
	font-family: 'MinionPro';
}

.st-text-base {
	color: $st-base;
}
.st-text-gray {
	color: $st-gray;
}

.st-gutters-16 {
	@media (min-width: 576px) {
		margin-right: -16px;
		margin-left: -16px;

		> .col,
		> [class*="col-"] {
			padding-right: 16px;
			padding-left: 16px;
		}
	}
}

//
// Utilities
//
@import "font-options";
@import "spacing";
@import "other-options";

@import "header-page";
@import "footer-page";


.st-social {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0 -5px;

	&_dark {
		.st-social__fb {
			@extend %fb-dark;
		}

		.st-social__gplus {
			@extend %g-plus-dark;
		}

		.st-social__in {
			@extend %inst-dark;
		}
	}

	a {
		display: block;
		margin: 0 5px;
	}

	&__fb {
		@extend %fb;
	}

	&__gplus {
		@extend %g-plus;
	}

	&__in {
		@extend %inst;
	}
}

q {
	background-color: rgba($st-base, .06);
	border-left: 3px solid rgba($st-base, .8);
	display: block;
	quotes: none;
	margin-left: 26px;
	padding: 9px 15px 15px 10px;
}

.st-table {
	overflow-x: auto;

	table {
		width: 100%;
		min-width: 746px;
		table-layout: fixed;

		thead {

			tr {
				border-bottom: 1px solid $st-gray;
			}

			th {
				font-size: rem(12);
				line-height: 30px;
				font-weight: 700;
				padding: 0 15px;
				background-color: #ebebeb;

				&:first-child {
					border-radius: 3px 0 0 0;
				}

				&:last-child {
					border-radius: 0 3px 0 0;
				}

			}
		}

		tbody {
			font-size: rem(14);
			line-height: 16px;

			tr {
				border-bottom: 1px solid #ebebeb;

				&:last-child {
					border-bottom-color: transparent;
				}
			}

			td {
				padding: 7px 15px;

				&.st-table__title {
					font-size: rem(12);
					font-weight: 700;
					padding: 0 35px 0 20px;
					white-space: nowrap;
				}
			}
		}
	}
}

.st-list {
	list-style: none;
	padding: 0 0 0 12px;
}
