@@include("../../templates/header.html", {
  "titlePage": "SunTour - Сеть турагенств «Солнце в кругу»",
  "css": [
    "css/components/index.css"
  ]
})

<!-- body -->

<!-- header-page -->
@@include("../../templates/header-page.html")
<!-- /header-page -->

<!-- hot-tour -->
@@include("../../components/index/templates/hot-tour.html")
<!-- /hot-tour -->

<!-- tour-item -->
<div class="container">
  <div class="row st-gutters-16">
    <div class="col-lg-6">
      @@include("../../components/index/templates/tour-item.html", {
      "img": "img/503x509_1.jpg",
      "title": "Шелковый путь",
      "subTitle": "Экстремальный маршрут",
      "price": "$987"
      })
    </div>
    <div class="col-lg-6">
      @@include("../../components/index/templates/tour-item.html", {
      "img": "img/620x350_1.jpg",
      "title": "Не дай Бог не любишь",
      "subTitle": "Роупджампинг",
      "price": "$59",
      "oldPrice": "$90"
      })
    </div>
  </div>
</div>
<!-- /tour-item -->

<!-- typography -->
<div class="container pb-35">
  <div class="font-size-lg-50 font-size-md-38 font-size-28 font-family-trebuchet-ms line-height-1-125 font-weight-700 mt-lg-25 mt-10">36,6 градусов по цельсию и познаватель&shy;ная физика</div> <!-- TODO: В веб разработке не особо приветствуется авто переносы слов, вариант подключение библиотек или переносы делать самому через спецсимвол &shy; -->

  <div class="row align-items-lg-start">
    <div class="col-lg-9 pt-20">
      <p class="font-size-16 line-height-1-375 font-weight-700">Никто не задумывался почему температура человеческого тела 36,6 С? Почему не иная? <br>Почему не равна дневной температуре окружающего пространства к примеру? Но почему <br>так произошло? Первая причина лежит от нас на временной оси в прошлом на расстоянии <br>в несколько миллиардов лет. Именно тогда появилась жизнь.
      </p>
      <p class="font-size-14 line-height-1-5">
        Грубо говоря первичные репликаторы огородились защитной оболочкой от остальной части океана — создав клетки. Клетки это замкнутые водные резервуары, в которых вся жизнедеятельность проходит в водной среде. И все сухопутные организмы концептуально это машины выживания репликаторов, мобильная (в случае с животными), благоприятная водная среда для репродукции, окруженная защитной оболочкой от внешнего мира.
      </p>
      <span class="d-inline-block font-size-22 line-height-1 font-weight-700 mb-5">Ищем ответ</span>
      <p class="font-size-14 line-height-1-5">
        Что интересно, все теплокровные функционируют в пределах той же области температур что и человек.<br>
        Например температура у лошадей 37,5-38,5; у коров 37,5-39,5; кур 40,5-42,5; свиней 39,0-40,0; кошек 38,0-39,5; обезьян 38,1; голубей 41,0-44,0. Ответ лежит в области нет, не биологии. А в области физики воды.
      </p>
      <q class="font-size-14 line-height-1-5 mb-10">Дело в том, что теплоемкость воды нелинейно зависит от температуры. Теплоемкость это количество энергии, которое необходимо потратить для того что бы нагреть 1 кг вещества на 1 градус. При увеличении температуры она как бы пикирует как штурмовик, и возносится ввысь после прохождения нижней точки в 36,8 градусов Цельсия. В организме человека вода составляет около 65-70%, её теплоемкость огромна.</q>
      <p class="font-size-14 line-height-1-5">90% энергии получаемой с пищей, теплокровные потому тратят только лишь на поддержание постоянной температуры внутренней среды. На нагревание воды. Потому эта ямка, минимум, в котором нужно было тратить минимальное количество энергии на поддержание своего состояния, как аттрактор, стягивал на себя на протяжении эволюции все «модели» теплокровных. Фенотипы, с рабочей температурой иных диапазонов были слишком «прожорливыми» и отсеивались отбором.
      </p>
      <span class="d-inline-block font-size-16 line-height-1 font-weight-700">Хлорофилл и красота</span>
      <p class="font-size-14 line-height-1-5">Могло случится так что небо было бы ядовито-желтое а не голубое. Трава так же красная. Нравился бы нам такой пейзаж? Почему красный, ярко-желтый, создают чувство неспокойствия и не подходят для идилических райских картин ландшафтов как голубой и зеленый? Дело не в них а в нас. Мы продукт эволюции, продукт среды в которой мы развивались. Что и было показано на примере температуры тела.</p>
      <p class="font-size-14 line-height-1-5 mb-10">Начну с далека, так уж нужно, ничего не поделаешь… Зеленым цветом на картинке окрашена трава, трава это растение. Первыми вышли задолго до животных на сушу растения. Они сформировали то первичное окружение для живых организмов, создали им условия существования на суше. Стали источником пищи и крова, ведь животные гетеротрофы. Растения же в основном автотрофы. Так вышло что у растений при участии хлорофилла осуществляется процесс фотосинтеза. А по совместительству он так же зелёный пигмент, обусловливающий окраску хлоропластов растений в зелёный цвет.</p>
      <p class="font-size-14 line-height-1-5 mb-30">Так же интересна физическая причина наших понятий красоты.</p>

      <div class="st-table pr-xl-30 mb-20">
        <table>
          <thead>
          <tr>
            <th scope="col">&nbsp;</th>
            <th scope="col">Хлорофилл a</th>
            <th scope="col">Хлорофилл b</th>
            <th scope="col">Хлорофилл c1</th>
            <th scope="col">Хлорофилл c2</th>
            <th scope="col">Хлорофилл cd</th>
          </tr>
          </thead>

          <tbody>
          <tr>
            <td class="st-table__title">Формула</td>
            <td>C<sub>55</sub>H<sub>72</sub>O<sub>5</sub>N<sub>4</sub>Mg</td>
            <td>C<sub>55</sub>H<sub>70</sub>O<sub>6</sub>N<sub>4</sub>Mg</td>
            <td>C<sub>35</sub>H<sub>30</sub>O<sub>5</sub>N<sub>4</sub>Mg</td>
            <td>C<sub>35</sub>H<sub>28</sub>O<sub>5</sub>N<sub>4</sub>Mg</td>
            <td>C<sub>54</sub>H<sub>70</sub>O<sub>5</sub>N<sub>4</sub>Mg</td>
          </tr>

          <tr>
            <td class="st-table__title" scope="row">C2 группа</td>
            <td>-CH<sub>3</sub></td>
            <td>-CH<sub>3</sub></td>
            <td>-CH<sub>3</sub></td>
            <td>-CH<sub>3</sub></td>
            <td>-CH<sub>3</sub></td>
          </tr>

          <tr>
            <td class="st-table__title" scope="row">C3 группа</td>
            <td>-CH=CH<sub>2</sub></td>
            <td>-CH=CH<sub>2</sub></td>
            <td>-CH=CH<sub>2</sub></td>
            <td>-CH=CH<sub>2</sub></td>
            <td>-CHO</td>
          </tr>
          </tbody>
        </table>
      </div>

      <p class="font-size-14 line-height-1-5 mb-5">Как найти эти консервативные признаки? Наиболее часто рассматривают 5 источников информации о них:</p>
      <ul class="st-list font-size-14 line-height-1-875">
        <li>— эмбриологические исследования;</li>
        <li>— тератологические данные;</li>
        <li>— сравнительно-морфологические данные;</li>
        <li>— анализ врожденных поведенческих программ (этологические данные);</li>
        <li>— изучение взаимосвязи с другими видами.</li>
      </ul>

    </div>
    <div class="col-lg-3 pl-xl-50 mt-lg-220">
      <div class="font-size-lg-100 font-size-72 line-height-1 font-family-trebuchet-ms st-text-gray">0,71</div>
      <div class="font-size-lg-30 font-size-26 line-height-1 font-family-trebuchet-ms mt-lg-0 pt-15">WHR здоровой <br>женщины</div>
      <div class="font-size-lg-20 font-size-18 line-height-1-2 st-text-gray mt-20">Один из весьма надежных оказателей здоровья, фертильности, как раз и является «waistto hip ratio».</div>
    </div>
  </div>
</div>
<!-- /typography -->

<!-- footer-page -->
@@include("../../templates/footer-page.html")
<!-- /footer-page -->

<!-- /body -->

@@include("../../templates/footer.html")