@import "../../scss/variables";

// st-hot-tour
.st-hot-tour {

	&__panorama {
		position: relative;
		height: 552px;
		clip-path: polygon(100% 0px, 100% 100%, 93.21% 97.72%, 84.77% 87.99%, 60% 100%, 0px 100%, 0px 0px);

		@media (max-width: 991px) {
			clip-path: none;
		}
	}

		&__stick {
			width: 230px;
			height: 230px;
			position: absolute;
			left: 28px;
			bottom: 48px;
			border-radius: 50%;
			background-color: rgba($st-yellow, .7);
			padding: 31px 25px 20px;
			text-align: center;

			@media (max-width: 575px) {
				width: 220px;
				height: 220px;
			}

			&-code {
				background-color: #000;
				border-radius: 3px;
				color: #fff;
				display: inline-block;
			}
		}

	&__link {
		color: #000;
		border-bottom: 1px solid $st-gray;

		&:hover {
			color: #000;
			text-decoration: none;
			border-bottom: transparent;
		}
	}

	&__rating {
		display: flex;
		flex-direction: row;
		margin: 0 13px;

		&-star {
			background: url(../../img/sprite.png) 0px -102px;
			width: 30px;
			height: 28px;
			margin: 0 2px;
		}
	}

	&__rating-value {
		background-color: $st-base;
		border-radius: 3px;
		font-size: rem(24);
		line-height: 1;
		font-weight: 700;
		color: #fff;
		padding: 13px 8px;
		max-width: 50px;
	}

	&__info {
		margin-top: -52px;

		@media (max-width: 991px) {
			margin-top: -12px;
		}
	}
}

// st-tour-item
.st-tour-item {
	padding-bottom: 30px;

	&__img {
		width: 100%;
		height: 279px;
	}

	&__link {
		color: #000;
		border-bottom: 1px solid $st-gray;

		&:hover {
			color: #000;
			text-decoration: none;
			border-bottom: transparent;
		}
	}

	&__old-price {
		display: inline-block;
		position: relative;
		margin-top: 4px;
		padding: 0 4px;

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			transform: translateY(-50%);
			height: 1px;
			background-color: #ff0000;
		}
	}
}